.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
}

.list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: var(--max-width);
  padding: 20px 0;
}
