.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  padding-top: var(--navbar-height);
}

.list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: var(--max-width);
  padding: 20px 0;
}

@media screen and (max-width: 600px) {
  .search {
    padding: 0px 20px;
  }
}
