.landing {
  min-height: 100vh;
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 70vh;
  padding-top: var(--navbar-height);
  background-position: center;
  background-image: url("../../assets/img/maps.png");
}

.form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form h2 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 60px;
  text-shadow: 0px 0px 10px #888;
}

.form button {
  width: 50px;
}

.filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.type {
  display: flex;
  gap: 10px;
  grid-column: 1 / 5;
}

.type button {
  width: 100%;
}

.searchBar {
  display: flex;
  grid-column: 1 / 5;
  display: flex;
}

.searchBar div {
  flex-grow: 1;
}

.priceRange {
  grid-column: 1 / 3;
  display: flex;
}

.priceRange {
  display: flex;
  gap: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 100px 20px;
}

.detailItem {
  display: flex;
  align-items: center;
  max-width: calc(var(--max-width) - 40px);
  width: 100%;
  min-height: 400px;
  margin: auto;
  padding: 50px;
  border-radius: 5px;
  border: 1px solid grey;
  overflow: hidden;
}

.detailItem:nth-child(1) {
  justify-content: flex-start;
  background-image: url("../../assets/img/maps.png");
}

.detailItem:nth-child(2) {
  justify-content: flex-end;
  background-image: url("../../assets/img/maps.png");
}

.detailItem:nth-child(3) {
  justify-content: flex-start;
  background-image: url("../../assets/img/maps.png");
}

.detailItem .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: max-content;
  padding: 25px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: white;
}

.details .detailItem:nth-child(1) .text {
  border-left: 15px solid var(--primary-color);
}

.details .detailItem:nth-child(2) .text {
  border-right: 15px solid var(--primary-color);
}

.details .detailItem:nth-child(3) .text {
  border-left: 15px solid var(--primary-color);
}

.detailItem h3 {
  font-size: 35px;
  color: var(--primary-color);
}

.detailItem p {
  font-size: 18px;
  color: grey;
}

.detailItem button {
  width: 200px;
}
