.flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.firstInputs {
  display: flex;
  gap: 10px;
}

.firstInputs div {
  flex-grow: 1;
}

.checkGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 20px 0px;
}

.aditionals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}
