:root {
  /* Colors */
  --primary-color: #1319ad;

  /* Sizes */
  --navbar-height: 80px;
  --max-width: 1200px;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
