:root {
  /* Colors */
  --primary-color: #1319ad;
  --primary-filter: invert(9%) sepia(83%) saturate(5000%) hue-rotate(243deg)
    brightness(104%) contrast(114%);

  /* Sizes */
  --navbar-height: 80px;
  --max-width: 1200px;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

.btn-primary {
  color: red !important;
  background-color: #1319ad !important;
}

.btn-primary:hover {
  background-color: var(--primary-color) !important;
}

.btn-outline-primary {
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.btn-outline-primary:hover {
  background-color: var(--primary-color) !important;
}
