:root {
  /* Colors */
  --primary-color: #1319ad;
  --secundary-color: #ff0000;
  --primary-filter: invert(9%) sepia(83%) saturate(5000%) hue-rotate(243deg)
    brightness(104%) contrast(114%);

  /* Sizes */
  --navbar-height: 80px;
  --max-width: 1400px;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

/* PRIMARY BUTTON */
.btn-primary {
  padding: 10px 20px !important;
  color: white !important;
  background-color: var(--primary-color) !important;
}

.btn-primary:hover {
  filter: brightness(80%);
  background-color: var(--primary-color) !important;
}

.btn-outline-primary {
  padding: 10px 20px !important;
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.btn-outline-primary:hover {
  color: white !important;
  background-color: var(--primary-color) !important;
}

.btn-primary,
.btn-outline-primary {
  padding: 10px 20px !important;
}

.btn-primary:active,
.btn-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:focus {
  outline: 4px grey !important;
  color: white !important;
  background-color: var(--primary-color) !important;
}

/* SECUNDARY BUTTON */
.btn-secundary {
  padding: 10px 20px !important;
  color: white !important;
  background-color: var(--secundary-color) !important;
}

.btn-secundary:hover {
  filter: brightness(80%);
  background-color: var(--secundary-color) !important;
}

.btn-outline-secundary {
  padding: 10px 20px !important;
  color: var(--secundary-color) !important;
  border-color: var(--secundary-color) !important;
}

.btn-outline-secundary:hover {
  color: white !important;
  background-color: var(--secundary-color) !important;
}

.btn-secundary,
.btn-outline-secundary {
  padding: 10px 20px !important;
}

.btn-secundary:active,
.btn-secundary:focus,
.btn-outline-secundary:active,
.btn-outline-secundary:focus {
  outline: 4px grey !important;
  color: white !important;
  background-color: var(--secundary-color) !important;
}
