.background {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: var(--navbar-height);
  min-height: 100vh;
}

.container {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
  min-height: max-content;
  max-width: var(--max-width);
  max-height: 60vh;
  margin: auto;
  padding: 50px;
}

.container .imageCalculator {
  min-height: 130%;
  width: 50%;
  max-width: 600px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  height: max-content;
  padding: 40px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 20px 5px #4442;
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form .type {
  display: flex;
  border-radius: 5px;
  outline: 1px solid #4444;
}

.form .type button {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 120px;
  background-color: inherit;
  color: grey;
}

.form .type button img {
  width: 50px;
  height: 50px;
  margin-top: 15px;
  filter: invert(20%);
}

.form .type button:hover {
  color: var(--primary-color);
  border-color: transparent;
}

.form .type button:hover img {
  filter: var(--primary-filter);
}

.form .type .active {
  background-color: var(--primary-color);
  color: white;
}

.form .type .active img {
  filter: invert(100%);
}

.form .type .active:hover {
  color: white;
}

.form .type .active:hover img {
  filter: invert(100%);
}

.form .sup {
  display: flex;
  gap: 10px;
}

.form .check {
  display: flex;
  justify-content: space-between;
}

.wave {
  position: relative;
  z-index: 500;
  width: 100%;
}
