.about {
  position: relative;
  height: max-content;
  padding-top: var(--navbar-height);
  padding-bottom: 0;
  overflow-y: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  padding: 50px;
}

.content h1 {
  font-size: 50px;
  font-weight: bold;
}

.content p {
  margin-top: 50px;
  width: 600px;
}

.wave {
  width: 100%;
}
